*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

[data-theme="dark"] {
  --background-color: #000000;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif;

}

// Form container styling
.form_default {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
#error_or_result {
  border: 2px solid;
  padding: 20px;
  width: 260px;
  height: 300px;
  min-height: 300px;
  resize: vertical; /* Allow resizing only vertically */
  overflow-y: auto; /* Enable vertical scrolling when content exceeds height */
  word-wrap: break-word; /* Allow long words to break and wrap to the next line */
  box-sizing: border-box; /* Ensure padding is included in the height/width calculation */
}

#error_or_result p {
  margin: 0; /* Remove any default margin */
  overflow: hidden; /* Hide overflow */
  word-wrap: break-word; /* Allow long words to break and wrap */
  white-space: normal; /* Allow text to wrap normally */
}



// Input field styles
input[type="text"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  transition: border 0.3s ease-in-out;
}

input[type="text"]:focus {
  border-color: #6c63ff;
}

// Submit button styles
input[type="submit"] {
  background-color: #6c63ff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #4f47cc;
}

.error{
  color: red;
}
.result{
  color: rgb(0, 136, 255);
}